<%- include('layouts/main') %>

<div class="jumbotron text-center">
    <h1 class="display-4">Bem-vindo ao Sistema Educacional</h1>
    <p class="lead">Uma plataforma completa para gestão escolar e aprendizado</p>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Área do Aluno</h5>
                <p class="card-text">Acesse suas notas, materiais e atividades.</p>
                <a href="/aluno/login" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Área do Professor</h5>
                <p class="card-text">Gerencie suas turmas e materiais.</p>
                <a href="/professor/login" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Área Administrativa</h5>
                <p class="card-text">Gerencie o sistema e usuários.</p>
                <a href="/admin/login" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
</div>